/* Global Styles */

:root {
    --primary-color: #8C0000;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
    --background-color: #232323;
    text-align: center;

}

.color-nav {
    background-color: var(--primary-color);
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}

#basic-navbar-nav>div>a {
    color: white;
}

#basic-nav-dropdown {
    color: white;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    /* font-family: 'Raleway', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: var(--background-color);
    color: white;
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;

}



.card-body {
    background-color: var(--background-color);

}

.card-header {
    background-color: var(--primary-color);
}

.card {
    background-color: none;
}